[gmail]
# GMail account credentials
name = Pi Camera
user = <GoogleDocs_email_address>
password = <GoogleDocs_password>
sender = <sent by email address>

# Recipient email address (could be same as from_addr)
recipient = <email address to send emails>

[subjects]
# Prefix for all Subjects 
prefix = Pi Camera | 

# Subject for each reason
motion = Motion detected
video = Video Uploaded
image = Image Uploaded

[messages]

# First line of email message
video = Video uploaded
image = Image uploaded
motion = Motion has been detected


[docs]
# Folder (or collection) in Docs where you want the videos to go
folder = motion

[options]
# Delete the local video file after the upload
delete-after-upload = false

# Send an email after the upload
send-email = true
